$navbar-bg-color: #05162f;
$navbar-text-color: hsl(0, 0%, 85%);
$navbar-text-color-focus: white;
$navbar-bg-contrast: lighten($navbar-bg-color, 10%);
$navbar-height: 16vh;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
#navbar {
  height: $navbar-height;
  background-color: $navbar-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: $navbar-text-color;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
  color: $navbar-text-color-focus;
  text-decoration: none;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
  color: $navbar-text-color-focus;
  background-color: $navbar-bg-contrast;
  text-decoration: none;
}

.navbar-logo {
  background-color: $navbar-text-color-focus;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: $navbar-text-color;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: $navbar-text-color-focus;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: $navbar-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}
.welcome-page {
  background-image: url(../img/bill-oxford-tR0PPLuN6Pw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  min-height: 200px;
  background-attachment: scroll;
  .welcome-page-text {
    padding-top: 15vh;
    color: $navbar-bg-color;
    text-align: center;
    font-weight: 700;
    h1 {
      font-size: 3rem;
    }
  }
}
.welcome-page2 {
  background-image: url(../img/photo-1572884267966-02340ebc90ac.jpeg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  min-height: 200px;
  background-attachment: scroll;
  .welcome-page-text {
    padding-top: 15vh;
    color: white;
    text-align: center;
    font-weight: 700;
    h1 {
      font-size: 3rem;
    }
  }
}
.welcome-page3 {
  background-image: url(../img//photo-1581091014534-898da33e356e.jpeg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  min-height: 200px;
  background-attachment: scroll;
  .welcome-page-text {
    padding-top: 15vh;
    color: $navbar-bg-color;
    text-align: center;
    font-weight: 700;
    h1 {
      font-size: 3rem;
    }
  }
}
.about-us {
  background-image: url(../img/photo-1583607264434-2d8e199b3a17.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
  h1 {
    font-weight: 700;
  }
  .card {
    background-color: $navbar-bg-color;
    transition: all 0.5s cubic-bezier(0.12, 0.93, 1, 1);
    h1 {
      color: white;
      font-weight: normal;
    }
    &:hover {
      background-color: white;
      color: $navbar-bg-color;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      h1 {
        color: $navbar-bg-color;
      }
    }
  }
}
.about-us-text {
  background-color: #f4f4f4;
  li {
    list-style: none;
  }
  .btn {
    background-color: $navbar-bg-color;
    color: #fff;
    &:hover {
      background: #fff;
      color: $navbar-bg-color;
      border: 1px solid $navbar-bg-color;
    }
  }
}
.projects {
  background-color: #05162f;
  color: #fff;
  .card {
    color: #05162f;
    background-color: #f6f6f6;
    &:hover {
      background-color: #2554fe;
      color: white;
      p {
        color: white;
      }
    }
    margin: 10px;
  }
}
.services {
  background-image: url(../img/photo-1606206605628-0a09580d44a1.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
  h1,
  h4 {
    color: white;
    font-weight: 700;
  }
  .card {
    background-color: $navbar-bg-color;
    transition: all 0.5s cubic-bezier(0.12, 0.93, 1, 1);
    h1 {
      color: white;
      font-weight: normal;
    }
    &:hover {
      background-color: white;
      color: $navbar-bg-color;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      h1 {
        color: $navbar-bg-color;
      }
    }
    i {
      font-size: 25px;
    }
  }
}
.contact {
  background-image: url(../img/photo-1574689049065-0742476e1d95.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
  input,
  select {
    background-color: #f6f6f6;
    border-radius: 10px;

    &:focus {
      background-color: #f6f6f6;
    }
  }
}
.footer {
  background-color: #05162f;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #adff2f;
}
.footer a i {
  margin: 10px;
  font-size: 25px;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
  .welcome-page {
    background-attachment: fixed;
    .welcome-page-text {
      padding-top: 30vh;
    }
  }
  .welcome-page2 {
    background-attachment: fixed;
    .welcome-page-text {
      padding-top: 30vh;
    }
  }
  .welcome-page3 {
    background-attachment: fixed;
    .welcome-page-text {
      padding-top: 30vh;
    }
  }
  .projects {
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
