<section id="new-articles" class="bg-dark m-4">
  <h1 class="text-warning text-center p-4">New Articles</h1>
  <div class="row d-flex justify-content-center align-items-center">
    {%- for post in site.posts -%} {% if post.category contains "new-articles"%}

    <div class="card col-md-5 p-4 m-3 bg-warning" style="width: 18rem">
      {%- if post.image -%}
      <div class="card-image">
        <img src="{{post.image}}" class="card-img-top img-fluid" />
      </div>
      {%- endif -%} {%- assign date_format = site.minima.date_format | default:
      "%b %-d, %Y" -%}
      <div class="card-body">
        <span class="post-meta"
          >{{ post.date | date: date_format }} - {{post.author}}</span
        >
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <h5 class="text-muted">Tags:</h3>
          {%- for category in post.category -%}
          <button class="btn btn-light m-2" disabled>{{category}}</button>
          {%- endfor -%}
      </div>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </div>
    {%- endif -%} {%- endfor -%}
  </div>
</section>
